$img-thum-height-width: 7.5rem;

.details-container {
  overflow-x: hidden;

  .img-thum {
    max-width: $img-thum-height-width;
    max-height: $img-thum-height-width;
  }

  .selected-bild {
    max-height: 32.5rem;
    min-height: 21.875rem;
  }
}
