{
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "off",
  "endOfLine": "crlf",
  "htmlWhitespaceSensitivity": "strict",
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
