$img-height-width: 14rem;
$start-color: lightgray;
$star-background: #ffa41c;

img {
  max-width: $img-height-width;
  max-height: $img-height-width;
  margin: 0 auto;
}

p:hover {
  color: #c7511f;
}
