<div
  class="cursor-pointer"
  [routerLink]="['/' + smartphoneListRoute, smartphoneCard.id]"
>
  <img class="d-block" [src]="smartphoneCard.bilder[0]" />
  <div class=" pt-2">
    <span class="d-block text-muted fs-8 text-uppercase">
      {{ smartphoneCard.hersteller.name }}
    </span>
    <p class="mb-0">
      {{ smartphoneCard.name }} ({{ smartphoneCard.bildschirmgrosse }} Zoll)
    </p>
    <div
      class="fs-5 stars"
      style="--rating: {{ smartphoneCard.ranking }};"
      [attr.aria-label]="'Ranking von diesem Produkt ist {{ smartphoneCard.ranking }} von 5.'"
    >
      <span class="fs-7 ms-1"
        >{{ smartphoneCard.ranking }} ({{ smartphoneCard.bewerteranzahl }})
      </span>
    </div>
    <span
      class="d-block fw-bold"
      >{{ smartphoneCard.preis | preisFormatter }}</span
    >
  </div>
</div>
