$img-height-width: 14rem;
$start-color: lightgray;
$star-background: #fc0;

img {
  max-width: $img-height-width;
  max-height: $img-height-width;
  margin: 0 auto;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      $star-background var(--percent),
      $start-color var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
