<div class="d-flex flex-column justify-content-center">
  <div class="text-center mb-4">
    <h3>Registrieren</h3>
    <div>
      Hast du schon ein Konto?<a
        class="link-custom"
        [routerLink]="[appRouteSignIn]"
      >
        Anmelden</a
      >
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 col-sm-12">
      <form ngNativeValidate #signUpForm>
        <div class="mb-2">
          <input
            type="email"
            class="form-control"
            placeholder="Email Address"
            #userEmail
            required
          />
        </div>
        <div class="mb-2">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            #userPwd
            required
          />
        </div>
        <button
          class="btn btn-outline-primary"
          type="submit"
          (click)="signUpForm.checkValidity() ? authService.signUp(userEmail.value, userPwd.value) : null"
          >Registrieren</button
        >
      </form>
    </div>
    <div class="col-md-2 col-sm-0">
      <div class="vertical-line"></div>
    </div>
    <div class="col-md-5 col-sm-12">
      <div class="google-btn cursor-pointer" (click)="authService.googleAuth()">
        <div class="google-icon-wrapper">
          <img
            class="google-icon"
            src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
          />
        </div>
        <p class="btn-text">Über Google anmelden</p>
      </div>
    </div>
  </div>
</div>
