<h5 class="fw-blod mb-4">Details</h5>
<table class="table">
  <tbody>
    <tr *ngIf="item.bildschirmgrosse">
      <td class="fw-bold">Bildschirmdiagonale in Zoll</td>
      <td>
        {{item.bildschirmgrosse}}
      </td>
    </tr>
    <tr *ngIf="item.aufloesung"
      ><td class="fw-bold">Auflösungsstandard</td>
      <td>{{item.aufloesung}}</td>
    </tr>
    <tr *ngIf="item.prozessor.hersteller">
      <td class="fw-bold">Prozessorhersteller</td>
      <td>{{ item.prozessor.hersteller }}</td>
    </tr>
    <tr *ngIf="item.prozessor.name">
      <td class="fw-bold">Prozessorname</td>
      <td>{{ item.prozessor.name }}</td>
    </tr>
    <tr *ngIf="item.prozessor.serie">
      <td class="fw-bold">Prozessorserie</td>
      <td>{{ item.prozessor.serie }}</td>
    </tr>
    <tr *ngIf="item.prozessor.bauart">
      <td class="fw-bold">Prozessorbauart</td>
      <td>{{ item.prozessor.bauart }}</td>
    </tr>
    <tr *ngIf="item.prozessor.architektur">
      <td class="fw-bold">Prozessorarchitektur</td>
      <td>{{ item.prozessor.architektur }}</td>
    </tr>
    <tr *ngIf="item.gewicht">
      <td class="fw-bold">Gewicht</td>
      <td>{{ item.gewicht }}</td>
    </tr>
  </tbody>
</table>
