<div class="d-flex justify-content-center">
  <div class="text-center mb-4">
    <h3>Passwort Zurücksetzen</h3>
    <p class="text-center"
      >Bitte gebe deine E-Mail-Adresse ein, um ein Zurücksetzen des Passworts
      anzufordern.</p
    >
    <input
      type="email"
      class="form-control mb-3"
      placeholder="Email Addresse"
      #passwordResetEmail
      required
    />
    <button
      type="submit"
      class="btn btn-outline-primary mb-2"
      (click)="authService.forgotPassword(passwordResetEmail.value)"
      >Passwort zurücksetzen</button
    >
    <div>
      zurück zur ?
      <a class="link-custom" [routerLink]="[appRouteSignIn]">Anmeldung</a>
    </div>
  </div>
</div>
