@import 'node_modules/bootstrap/scss/bootstrap';

@import './bootstrap-ultilities';

@import 'node_modules/bootstrap/scss/utilities/api';

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

html,
body {
  background: transparent;
  height: calc(100vh - calc(100vh - 100%));
  margin: 0 auto;
}

body {
  max-width: 100rem;

  .vertical-line {
    border-left: 2px solid #a7a7a7;
    height: 200px;
    position: absolute;
    left: 50%;
  }

  .text-underline-hover:hover {
    text-decoration: underline;
  }

  .form-control:focus {
    box-shadow: none;
  }

  a {
    text-decoration: none;
  }

  .link-custom {
    color: #007185;

    &:hover {
      color: #c7511f;
    }
  }

  .stars {
    --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;

    &::before {
      content: '★★★★★';
      background: linear-gradient(
        90deg,
        #ffa41c var(--percent),
        lightgray var(--percent)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .google-btn {
    width: 13.188rem;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    .google-icon-wrapper {
      position: absolute;
      margin-top: 1px;
      margin-left: 1px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: #fff;
    }
    .google-icon {
      position: absolute;
      margin-top: 11px;
      margin-left: 11px;
      width: 18px;
      height: 18px;
    }
    .btn-text {
      float: right;
      margin: 11px 11px 0 0;
      color: #fff;
      font-size: 14px;
      letter-spacing: 0.2px;
      font-family: 'Roboto';
    }
    &:hover {
      box-shadow: 0 0 6px #4285f4;
    }
    &:active {
      background: #1669f2;
    }
  }
}
