<div class="row border-top border-5 border-light pt-4">
  <div class="col-lg-3 col-md-12 pb-3">
    <div class="border-1 border-bottom">
      <h5 class="fw-bold">Kundenrezensionen</h5>
      <div
        class="d-flex fs-3 stars"
        style="--rating: {{ ranking }};"
        [attr.aria-label]="'Ranking von diesem Produkt ist {{ ranking }} von 5.'"
      >
        <span class="align-self-center fs-5 ps-2">{{ ranking }} von 5</span>
      </div>
      <p class="text-muted fs-8 my-3"
        >{{ bewerteranzahl }} globale Bewertungen</p
      >
    </div>
    <div class="my-3">
      <h6 class="fw-bold">Dieses Produkt bewerten</h6>
      <p class="fs-7">Sag deine Meinung zu diesem Artikel</p>
      <button class="btn btn-light" [routerLink]="[appRoute, smartphoneId]"
        >Kundenrezension verfassen</button
      >
    </div>
  </div>
  <div class="col-lg-7 col-md-12">
    <h5 class="fw-blod mb-4">Kommentare</h5>
    <ng-container *ngIf="kommentare.length">
      <div *ngFor="let kommentar of kommentare">
        <ka-kommentar [kommentar]="kommentar"></ka-kommentar>
      </div>
    </ng-container>
    <div *ngIf="!kommentare.length" class="alert alert-info">
      Es wurde noch keine Kommentare dazu erfasst.
    </div>
  </div>
</div>
