<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      type="button"
      class="navbar-toggler border-0"
      aria-label="Navigation"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand text-muted" href="#">Smartphone-Portal</a>

    <div class="user-menu order-lg-1">
      <div class="d-flex align-items-center">
        <!-- <form class="d-flex me-2" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->

        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[AppRoute]"> Anmelden </a>
          </li>
        </ul>
      </div>
    </div>
    <div
      [ngbCollapse]="isMenuCollapsed"
      [animation]="true"
      class="collapse navbar-collapse ms-lg-3"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']"> About </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
